.dd-account-summary {
    position: relative;
    margin-top: 20px;
    min-width: 300px;

    .title-wrap {
        position: absolute;
        margin-top: -10px;
        
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .title {
            padding: 5px 15px;
            background: #f1f1f1;
            border-radius: 4px;
            box-shadow: 1px 1px 2px #ccc;
        }
    }

    .balance {
        font-size: 50px;
        padding: 40px 20px 20px 20px;
        text-align: center;
    }

    .footer {
        & > * {
            display: block;
            width: 100%;
        }
    }
}

.dd-targeting-wrap {
    position: relative;

    .tw-overlay {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(1.5px);
        z-index: 1;
    }

    .tw-content-wrap {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 2;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .content {

        }
    }
}