.dd-account-summary {
    position: relative;
    margin-top: 20px;
    min-width: 300px;

    .title-wrap {
        position: absolute;
        margin-top: -10px;
        
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .title {
            padding: 5px 15px;
            background: #f1f1f1;
            border-radius: 4px;
            box-shadow: 1px 1px 2px #ccc;
        }
    }

    .balance {
        padding: 40px 20px 20px 20px;
        text-align: center;
    }

    .footer {
        & > * {
            display: block;
            width: 100%;
        }
    }

    &.size-regular {
        .title { 
            font-size: 14px;
        }
        
        .balance {
            font-size: 50px;
        }
    }

    &.size-small {
        .title { 
            font-size: 11px;
        }
        
        .balance {
            font-size: 24px;
        }
    }
}