.dd-targeting-wrap {
    position: relative;

    .tw-overlay {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(1.5px);
        z-index: 1;
    }

    .tw-content-wrap {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 2;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .content {

        }
    }
}